#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background-color: #212B36;
    color: #919eab;
}

#sidebar-wrapper .sidebar-heading {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

.list-group-item-bg {
    background-color: #212B36;
    color: #fff;
}


body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}